@{
    ViewData["Title"] = "Home Page";
}

    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

  <section id="h_App" class="__vue-root"></section>
<section>
  <h2>Example:</h2>
  <code>
  &lt;section id=&quot;h_CommentBox&quot; data-post-id=&quot;10&quot; data-post-comment=&quot;.NET 5 and Vue&quot; class=&quot;__vue-root&quot;&gt;&lt;/section&gt;
  </code>

</section>

  <section id="h_CommentBox" data-post-id="10" data-post-comment=".NET 5, Vue" class="__vue-root"></section>


