@{
    ViewData["Title"] = "Media";
}
<h1>@ViewData["Title"]</h1>


<section id="h_MediaEncoder" data-name="Media Encoder" class="__vue-root"></section>

@section Styles {
    <link href="https://unpkg.com/@@videojs/themes@1/dist/sea/index.css" rel="stylesheet"/>

}